<div>
  <div *ngIf="show">
    <h1>Ordem de serviço</h1>
    <app-formulario
    [serviceOrder]="serviceOrder"
    [listExams]="listExams"
    [listDoctors]="listDoctors"
    [listPosts]="listPosts"
    [listPatients]="listPatients"
    [listExamsAdd]="listExamsAdd"
    (eventoCancelar)="cancel()"
    (eventoSalvar)="save($event)"
    ></app-formulario>

  </div>
  <div *ngIf="!show">
    <button type="button" class="btn btn-primary" (click)="new()" >Novo</button>
    <app-listagem [list]="list" (edicao)="edit($event)" (exclusao)="delete($event)"></app-listagem>

  </div>
</div>

