<div>
  <div *ngIf="mostrar">
    <h1>Ordem de serviço</h1>
    <app-formulario
    [ordemServico]="ordemServico"
    [listExames]="listExames"
    [listMedicos]="listMedicos"
    [listPostos]="listPostos"
    [listPacientes]="listPacientes"
    [listExamesAdd]="listExamesAdd"
    (eventoCancelar)="cancelar()"
    (eventoSalvar)="salvar($event)"
    ></app-formulario>

  </div>
  <div *ngIf="!mostrar">
    <button type="button" class="btn btn-primary" (click)="novaOrdem()" >Novo</button>
    <app-listagem [listagem]="listagem" (edicao)="editOrdem($event)" (exclusao)="deletar($event)"></app-listagem>

  </div>
</div>

